<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
                   <p>We are part of the <a href="https://dimie.unibas.it/site/home.html">Dipartimento di Matematica, Informatica ed Economia</a> at <a href="https://www.unibas.it">University of Basilicata</a>.</p>
		</div>
		<div class="col-sm-4">
		  Contacts:<br />
                  - email <span class="tab"></span> <a href="lab3d@unibas.it">email</a><br />
		  - facebook <span class="tab"></span> <a href="https://www.facebook.com/unibas3D">facebook</a><br /> 
		</div>
		<div class="col-sm-4">
		  Address:<br />
		  III piano edificio 3D<br />	
		  Dipartimento di Matematica Informatica ed Economia<br />
		  Università degli Studi della Basilicata<br />
		  Campus di Macchia Romana<br />
		  Viale dell'Ateneo Lucano, 10 - 85100 Potenza, Italy<br />
                  (<a href="https://goo.gl/maps/KGQpmevdD72rbACm7">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
